/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.71rem;
}

h3 {
    font-size: 1.28rem;
}

h4 {
    font-size: 1.07rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

header {
  background-color: cadetblue;
  padding: 3px 5px;
  min-height: 45px;
  border-bottom: 1px solid black;
}

footer {
  background-color: cadetblue;
  padding: 3px 5px;
  height: 50px;
  border-top: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.col-3 {
  grid-column: 3;
}

.col-4 {
  grid-column: 4;
}

.col-5 {
  grid-column: 5;
}

.col-6 {
  grid-column: 6;
}

.col-7 {
  grid-column: 7;
}

.col-8 {
  grid-column: 8;
}

.col-9 {
  grid-column: 9;
}

.col-10 {
  grid-column: 10;
}

.col-11 {
  grid-column: 11;
}

.col-12 {
  grid-column: 12;
}

.col-second, .col-half {
  grid-column: 12/2;
}

.col-third {
  grid-column: 12/3;
}

.col-fourth, .col-quarter {
  grid-column: 12/4;
}

#site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  flex: 1;
}
