body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

header {
  background-color: cadetblue;
  padding: 12px 10px;
  border-bottom: 1px solid black;
}

footer {
  background-color: cadetblue;
  padding: 12px 10px;
  min-height: 40px;
  border-top: 1px solid black;
}

.page {
  width: 90%;
}

#site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  flex: 1;
}
